[Desktop Entry]
Categories=Utility;System;
Comment=A tool to make boot disk for Deepin OS
Exec=deepin-boot-maker
Icon=deepin-boot-maker
Name=Deepin Boot Maker
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
GenericName=Boot Maker
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am]=Livecd boot maker for Deepin
Comment[am_ET]=የ boot ዲስክ መፍጠሪያ ለ ዲፕኢን OS
Comment[ar]= أداة لإنشاء قرص إقلاع لـ Deepin OS
Comment[ast]=Una ferramienta pa facer discos d'arranque de Deepin OS
Comment[bg]=Инструмент за правене на стартиращ диск за  Deepin OS
Comment[bn]=  ডিপিন ওস এর জন্য বুট ডিস্ক তৈরীর একটি টুল। 
Comment[ca]=Una eina per fer una mitjà d'arrencada per al Deepin OS
Comment[cs]=Nástroj na udělání spouštěcího disku pro Deepin OS
Comment[da]=Et værktøj til at oprette bootdisk til Deepin OS
Comment[de]=Ein Werkzeug zum Erstellen von Startmedien für Deepin OS
Comment[de_DE]=Deepin LiveCD Startmedium Ersteller
Comment[el]=Εργαλείο δημιουργίας εκκινήσιμων μονάδων Deepin OS
Comment[el_GR]=Δημιουργία εκκινήσιμων Live CD για το Deepin
Comment[es]=Una herramienta para hacer un disco de arranque para Deepin OS
Comment[es_419]=Una herramienta para hacer un disco de arranque para Deepin OS
Comment[es_AR]=Creador de discos booteables para Deepin
Comment[es_CL]=LiveCD editar arranque Deepin
Comment[es_ES]=Creador de Livecd de Deepin
Comment[fa]=نرم افزاری برای ساختن دیسک راه انداز سیستم عامل دیپین 
Comment[fi]=Käynnistyslevyn luontiohjelma Deepinille
Comment[fr]=Outil de gravure iso pour clé usb
Comment[gl_ES]=Ferramenta para crear discos de arranque para Deepin OS
Comment[hi_IN]=डीपिन OS के लिए बूट डिस्क बनाने हेतु साधन
Comment[hr]=Alat za izrađivanje medija za podizanje sustava za Deepin OS
Comment[hu]=Ez egy eszköz Deepin OS rendszerindító-lemez készítéséhez
Comment[id]=Sebuah alat untuk membuat boot disk bagi Deepin OS
Comment[id_ID]=Pembuat  CD But Langsung Deepin
Comment[it]=Un tool per creare una pendrive avviabile di Deepin OS
Comment[ja]=Deepin OSディスクの作成ツール
Comment[ko]=Deepin OS 용 부팅 디스크를 만드는 도구
Comment[lt]=Įrankis, skirtas sukurti Deepin OS paleidimo diską
Comment[ms]=Alat membuat cakera but untuk Deepin OS
Comment[nl]=Applicatie om een opstartschijf te maken voor Deepin OS
Comment[pl]=Narzędzie do tworzenia dysku rozruchowego Deepin OS
Comment[pl_PL]=Twórca płyty rozruchowej trybu live dla Deepin
Comment[pt]=Uma ferramenta que cria um disco de arranque para o SO Deepin
Comment[pt_BR]=Uma ferramenta para criar disco de boot para o Deepin OS
Comment[pt_PT]=Criador de Livecd de arranque para Deepin
Comment[ro]=Unealtă ce ajută la crearea mediilor de boot pentru Deepin OS 
Comment[ru]=Инструмент создания загрузочного диска для ОС Deepin
Comment[sk]=Nástroj na tvorbu boot disku pre Deepin OS
Comment[sl]=Orodje za izdelavo boot diska za operacijski sistem Deepin
Comment[sr]=Алат за прављење диска за покретање Дипин ОС-а
Comment[sr_RS]=Алатка за прављење бутабилног диска за Дипин ОС
Comment[tr]=Deepin İşletim Sistemi için ön yükleme diski oluşturma aracı
Comment[uk]=Інструмент для створення завантажувальних дисків для Deepin OS
Comment[zh_CN]=深度操作系统启动盘的制作工具
Comment[zh_HK]=為 Deepin 作業系統製作開機碟的工具
Comment[zh_TW]=用於製作 deepin 的開機磁碟
Name[af]=Deepin Selflaai Skepper
Name[am]=Deepin Boot መፍጠሪያ
Name[am_ET]=ዲፕኢን Boot መፍጠሪያ
Name[ar]=منشئ إقلاع ديبين
Name[ast]=Deepin Boot Maker
Name[bg]=Deepin Boot Maker
Name[bn]=ডিপিন বুট মেকার
Name[ca]=Creador de mitjans d'arrencada de Deepin
Name[cs]=Tvůrce spouštěcího média Deepin
Name[da]=Deepin bootskaber
Name[de]=Deepin Startmedium Ersteller
Name[de_DE]=Deepin Startmedium Ersteller
Name[el]=Δημιουργία Εκκινήσιμων Μονάδων Deepin
Name[el_GR]=Deepin Εγγραφή Εκκινήσιμων Μονάδων
Name[en_AU]=Deepin Boot Maker
Name[eo]=Deepin ekmarŝo faristo
Name[es]=Creador de arranque de Deepin
Name[es_419]=Boteador Deepin
Name[es_AR]=Creador de Booteo Deepin
Name[es_CL]=Administrar boot de Deepin
Name[es_ES]=Creador de Arranque de Deepin
Name[fa]=سازنده بوت لینوکس دیپین
Name[fi]=Deepin Boot Maker
Name[fr]=Utilitaire USB Deepin
Name[gl_ES]=Creador de arranque de Deepin
Name[he]=Deepin Boot Maker
Name[hi_IN]=डीपिन बूट निर्माता
Name[hr]=Deepin medij za podizanje sustava
Name[hu]=Deepin rendszerindító készítő
Name[hy]=Deepin Boot Ստեղծող
Name[id]=Pembuat Boot Deepin
Name[id_ID]=Pembuat But Deepin
Name[it]=Deepin Boot Maker
Name[ja]=Deepin ブートメーカー
Name[ko]=Deepin 부트 메이커
Name[lt]=Deepin paleidimo kūrėjas
Name[ms]=Pembina But Deepin
Name[nb]=Deepin Boot Maker
Name[nl]=Deepin Opstartmediummaker
Name[pam]=Deepin Boot Maker
Name[pl]=Twórca rozruchu Deepin
Name[pl_PL]=Twórca rozruchu Deepin
Name[pt]=Deepin Boot Maker
Name[pt_BR]=Deepin Boot Maker
Name[pt_PT]=Deepin Boot Maker
Name[ro]=Deepin Boot Maker
Name[ru]=Создание Загрузочного Диска Deepin
Name[sk]=Deepin Boot Maker
Name[sl]=Boot izdelovalec Deepin
Name[sr]=Дипинов Творац Покретача
Name[sr_RS]=Дипин Програм за прављење бутабилних медија
Name[sv]=Deepin Boot Skapare
Name[tr]=Deepin Ön Yükleme Oluşturucu
Name[uk]=Засіб створення дисків з Deepin
Name[vi]=Deepin Boot Maker
Name[zh_CN]=启动盘制作工具
Name[zh_HK]=Deepin 開機碟製作
Name[zh_TW]=Deepin 開機碟製作器

