[Desktop Entry]
Categories=Utility;System;
Comment=A tool to create boot media for Deepin OS
Exec=deepin-boot-maker
GenericName=Boot Maker
Icon=deepin-boot-maker
Name=Deepin Boot Maker
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am]=Livecd boot maker for Deepin
Comment[ca]=Una eina per crear mitjans d'arrencada per al Deepin OS
Comment[de_DE]=Deepin LiveCD Startmedium Ersteller
Comment[el_GR]=Δημιουργία εκκινήσιμων Live CD για το Deepin
Comment[es_AR]=Creador de discos booteables para Deepin
Comment[es_CL]=LiveCD editar arranque Deepin
Comment[es_ES]=Creador de Livecd de Deepin
Comment[fi]=Työkalu, jolla voit luoda Deepin OS käynnistysmedian
Comment[fr]=Un outil pour créer un support de démarrage pour Deepin OS.
Comment[id_ID]=Pembuat  CD But Langsung Deepin
Comment[it]=Un tool per creare una pendrive avviabile di Deepin OS. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[lt]=Įrankis, skirtas sukurti Deepin OS paleidimo laikmeną
Comment[nl]=Een hulpmiddel om een opstartschijf te creëren voor Deepin OS
Comment[pl_PL]=Twórca płyty rozruchowej trybu live dla Deepin
Comment[pt_BR]=Uma ferramenta para criar mídia de boot para o Deepin OS
Comment[pt_PT]=Criador de Livecd de arranque para Deepin
Comment[ru]=Инструмент создания загрузочного диска для ОС Deepin
Comment[sr_RS]=Алатка за прављење бутабилног диска за Дипин ОС
Comment[tr]=Deepin İşletim Sistemi için ön yükleme diski oluşturma aracı
Comment[uk]=Інструмент для створення завантажувальних дисків для Deepin OS
Comment[zh_CN]=深度操作系统启动盘的制作工具
GenericName[am_ET]=የ boot ዲስክ መፍጠሪያ
GenericName[bg]=Boot Maker
GenericName[ca]=Creador de mitjans d'arrencada
GenericName[cs]=Tvůrce spouštěcího média
GenericName[da]=Bootskaber
GenericName[de]=Boot Maker
GenericName[es]=Creador de arranque
GenericName[es_419]=Creador de arranque
GenericName[fi]=Boot Maker
GenericName[fr]=Utilitaire USB
GenericName[hu]=Rendszerindító készítő
GenericName[id]=Pembuat Boot
GenericName[it]=Boot Maker
GenericName[ko]=부트 메이커
GenericName[lt]=Paleidimo kūrėjas
GenericName[mn]=Ачаалагч үүсгэгч
GenericName[ms]=Pembuat But
GenericName[nl]=Opstartmediummaker
GenericName[pl]=Twórca rozruchu
GenericName[pt]=Boot Maker
GenericName[pt_BR]=Boot Maker
GenericName[ru]=Создание Загрузочного Диска
GenericName[sk]=Boot Maker
GenericName[sr]=Творац Покретача
GenericName[sv]=Boot Skapare
GenericName[tr]=Ön Yükleme Oluşturucu
GenericName[uk]=Створення дисків
GenericName[zh_CN]=启动盘制作工具
GenericName[zh_TW]=開機碟製作器
Name[af]=Deepin Selflaai Skepper
Name[am]=Deepin Boot መፍጠሪያ
Name[am_ET]=ዲፕኢን Boot መፍጠሪያ
Name[ar]=منشئ إقلاع ديبين
Name[ast]=Deepin Boot Maker
Name[bg]=Deepin Boot Maker
Name[bn]=ডিপিন বুট মেকার
Name[ca]=Creador de mitjans d'arrencada del Deepin
Name[cs]=Tvůrce spouštěcího média Deepin
Name[da]=Deepin bootskaber
Name[de]=Deepin Startmedium Ersteller
Name[de_DE]=Deepin Startmedium Ersteller
Name[el]=Δημιουργία Εκκινήσιμων Μονάδων Deepin
Name[el_GR]=Deepin Εγγραφή Εκκινήσιμων Μονάδων
Name[en_AU]=Deepin Boot Maker
Name[eo]=Deepin ekmarŝo faristo
Name[es]=Creador de arranque de Deepin
Name[es_419]=Boteador Deepin
Name[es_AR]=Creador de Booteo Deepin
Name[es_CL]=Administrar boot de Deepin
Name[es_ES]=Creador de Arranque de Deepin
Name[fa]=سازنده بوت لینوکس دیپین
Name[fi]=Deepin Boot Maker
Name[fr]=Utilitaire USB Deepin
Name[gl_ES]=Creador de arranque de Deepin
Name[he]=Deepin Boot Maker
Name[hi_IN]=डीपिन बूट निर्माता
Name[hr]=Deepin medij za podizanje sustava
Name[hu]=Deepin rendszerindító készítő
Name[hy]=Deepin Boot Ստեղծող
Name[id]=Pembuat Boot Deepin
Name[id_ID]=Pembuat But Deepin
Name[it]=Deepin Boot Maker
Name[ja]=Deepin ブートメーカー
Name[ko]=Deepin 부트 메이커
Name[lt]=Deepin paleidimo kūrėjas
Name[mn]=Дээпин ачаалагч үүсгэгч
Name[ms]=Pembina But Deepin
Name[nb]=Deepin Boot Maker
Name[nl]=Deepin Opstartmediummaker
Name[pam]=Deepin Boot Maker
Name[pl]=Twórca rozruchu Deepin
Name[pl_PL]=Twórca rozruchu Deepin
Name[pt]=Deepin Boot Maker
Name[pt_BR]=Deepin Boot Maker
Name[pt_PT]=Deepin Boot Maker
Name[ro]=Deepin Boot Maker
Name[ru]=Создание Загрузочного Диска Deepin
Name[sk]=Deepin Boot Maker
Name[sl]=Boot izdelovalec Deepin
Name[sr]=Дипинов Творац Покретача
Name[sr_RS]=Дипин Програм за прављење бутабилних медија
Name[sv]=Deepin Boot Skapare
Name[tr]=Deepin Ön Yükleme Oluşturucu
Name[uk]=Засіб створення дисків з Deepin
Name[vi]=Deepin Boot Maker
Name[zh_CN]=深度启动盘制作工具
Name[zh_HK]=Deepin 開機碟製作
Name[zh_TW]=Deepin 開機碟製作器

