[Desktop Entry]
Categories=Utility;System;
Comment=A tool to make boot disk for Deepin OS
Comment[am]=Livecd boot maker for Deepin
Comment[ar]= قرص حي دييبن للإقلاع
Comment[cs]=Tvůrce spouštěcího média LiveCD pro Deepin
Comment[da]=Livecd boot håndtering for Deepin
Comment[de]=Deepin LiveCD Startmedium Ersteller
Comment[de_DE]=Deepin LiveCD Startmedium Ersteller
Comment[el_GR]=Δημιουργία εκκινήσιμων Live CD για το Deepin
Comment[es]=Creador de arranque LiveCD para Deepin
Comment[es_419]=Creador de Arranque Deepin LiveCD
Comment[es_AR]=Creador de discos booteables para Deepin
Comment[es_CL]=LiveCD editar arranque Deepin
Comment[es_ES]=Creador de Livecd de Deepin
Comment[fi]=Käynnistyslevyn luontiohjelma Deepinille
Comment[fr]=Créateur de Live CD pour Deepin
Comment[he]=Livecd boot maker for Deepin
Comment[hu]=Deepin Live CD rendszerindító készítő
Comment[hy]=Livecd boot ստեղծող Deepin-ի համար
Comment[id_ID]=Pembuat  CD But Langsung Deepin
Comment[it]=Livecd boot maker per Deepin
Comment[ja]=Livecdブートメーカー
Comment[nl]=LiveCD Opstartmedium Maker voor Deepin
Comment[pl_PL]=Twórca płyty rozruchowej trybu live dla Deepin
Comment[pt_BR]=Livecd boot maker para Deepin
Comment[pt_PT]=Criador de Livecd de arranque para Deepin
Comment[ru]=Созадние загрузочного LiveCD для Deepin
Comment[sk]=LiveCD boot maker pre Deepin
Comment[sl]=LiveCD boot maker za Deepin
Comment[tr]=Deepin için Livecd boot oluşturucu
Comment[zh_CN]=深度系统启动盘的制作工具
Comment[zh_TW]=製作 Deepin 開機隨身碟的工具
Exec=deepin-boot-maker
Icon=deepin-boot-maker
Name=Deepin Boot Maker
Name[am]=Deepin Boot መፍጠሪያ
Name[ar]= محضر إقلاع  ديبن
Name[cs]=Tvůrce spouštěcího média pro Deepin
Name[da]=Deepin Boot Håndtering
Name[de]=Deepin Startmedium Ersteller
Name[de_DE]=Deepin Startmedium Ersteller
Name[el_GR]=Deepin Εγγραφή Εκκινήσιμων Μονάδων
Name[es]=Creador de Arranque Deepin
Name[es_419]=Creador de Arranque Deepin
Name[es_AR]=Creador de Booteo Deepin
Name[es_CL]=Administrar boot de Deepin
Name[es_ES]=Creador de Arranque de Deepin
Name[fi]=Deepin Boot Maker
Name[fr]=Gestionnaire de démarrage Deepin
Name[he]=Deepin Boot Maker
Name[hu]=Deepin Boot Maker
Name[hy]=Deepin Boot Ստեղծող
Name[id_ID]=Pembuat But Deepin
Name[it]=Deepin Boot Maker
Name[ja]=ブートメーカー
Name[nb]=Deepin Boot Maker
Name[nl]=Deepin Opstartmedium Maker
Name[pl_PL]=Twórca rozruchu Deepin
Name[pt_BR]=Deepin Boot Maker
Name[pt_PT]=Deepin Boot Maker
Name[ru]=Создание загрузочного диска Deepin
Name[sk]=Deepin Boot Maker
Name[sl]=Deepin Boot izdelovalec
Name[tr]=Deepin Boot Oluşturucu
Name[vi]=Deepin Boot Maker
Name[zh_CN]=深度启动盘制作工具
Name[zh_TW]=Deepin 安裝媒體製作器
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

