Package: deepin-boot-maker
Version: 1.9.0-1
Architecture: amd64
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Installed-Size: 4719
Depends: libc6 (>= 2.14), libdtkcore5 (>= 5.0.13), libdtkgui5 (>= 5.0.13), libdtkwidget5, libgcc1 (>= 1:3.0), libgl1, libglib2.0-0 (>= 2.12.0), libpulse-mainloop-glib0 (>= 0.99.1), libpulse0 (>= 0.99.1), libqt5concurrent5 (>= 5.0.2), libqt5core5a (>= 5.11.0~rc1), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.8.0), libqt5multimedia5 (>= 5.6.0~beta), libqt5multimediawidgets5 (>= 5.6.0~beta), libqt5network5 (>= 5.0.2), libqt5svg5 (>= 5.6.0~beta), libqt5widgets5 (>= 5.11.0~rc1), libqt5x11extras5 (>= 5.6.0), libqt5xml5 (>= 5.0.2), libstartup-notification0 (>= 0.2), libstdc++6 (>= 5.2), libx11-6, libxcb-util0 (>= 0.3.8.1), libxcb1, libxext6, p7zip-full, mtools, syslinux, syslinux-common
Section: misc
Priority: extra
Homepage: http://www.linuxdeepin.com/
Description: Deepin Boot Maker is help for user to create a boot
 usb stick quick and easy, it designed to support only deepin
 install iso, but it can work for all ubuntu live install iso too.
