Source: deepin-boot-maker
Section: misc
Priority: standard
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 python,
 qt5-default,
 qt5-qmake,
 qttools5-dev-tools,
 qtbase5-private-dev,
 qtbase5-dev,
 libxcb-util0-dev,
 libmtdev-dev,
 libxrender-dev,
 libglib2.0-dev,
 libfontconfig-dev,
 libegl1-mesa-dev,
 libstartup-notification0-dev,
 libdtkwidget-dev
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com/

Package: deepin-boot-maker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, p7zip-full, mtools,
 syslinux [linux-amd64 linux-i386],
 syslinux-common [linux-amd64 linux-i386],genisoimage
Conflicts: uos-service-support
Description: 
 Boot Maker is a simple tool to write system image files into CD/DVD, USB flash drive and other media.
