Source: deepin-boot-maker
Section: misc
Priority: extra
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
  python,
  qt5-default,
  qt5-qmake,
  qttools5-dev-tools,
  libxcb-util0-dev,
  libstartup-notification0-dev,
  libdtkbase-dev,
  libdtkutil-dev,
  libdtkwidget-dev
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com/

Package: deepin-boot-maker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, p7zip-full, mtools, syslinux, syslinux-common
Description: Deepin Boot Maker is help for user to create a boot usb stick quick and easy
 Deepin Boot Maker is help for user to create a boot usb stick quick and easy, it
 designed to support only deepin install iso, but it can can work for all ubuntu live install iso too.
