[Desktop Entry]
Categories=Utility;System;
Comment=A tool to make boot disk for Deepin OS
Exec=deepin-boot-maker
Icon=deepin-boot-maker
Name=Deepin Boot Maker
StartupNotify=true
Terminal=false
Type=Application
Version=1.0



# Translations


# Translations
Comment[am]=Livecd boot maker for Deepin
Name[am]=Deepin Boot መፍጠሪያ
Comment[ar]=  قرص حي دييبن للإقلاع
Name[ar]= محضر إقلاع  ديبن 
Comment[cs]=Tvůrce spouštěcího média LiveCD pro Deepin
Name[cs]=Tvůrce spouštěcího média Deepin
Comment[da]=Værktøj til at oprette en bootdisk til Deepin
Name[da]=Deepin Boot Maker
Comment[de]=Deepin LiveCD Startmedium Ersteller
Name[de]=Deepin Startmedium Ersteller
Comment[el]=Δημιουργία εκκινήσιμων Live CD για το Deepin
Name[el]=Εγγραφή Εκκινήσιμων Μονάδων Deepin
Comment[es]=Creador de arranque LiveCD para Deepin
Name[es]=Deepin Boot Maker
Comment[fi]=Käynnistyslevyn luontiohjelma Deepinille
Name[fi]=Deepin Boot Maker
Comment[fr]=Outil pour créer un disque de démarrage Deepin OS
Name[fr]=Créateur de disque de démarrage Deepin
Comment[es_CL]=LiveCD editar arranque Deepin
Name[es_CL]=Fabricador de arranque Deepin
Comment[he]=Livecd boot maker for Deepin
Name[he]=Deepin Boot Maker
Comment[hr]=Alat podizanja diska za Deepin OS
Name[hr]=Deepin Boot stavaratelj
Comment[hu]=A Deepin OS rendszerindító lemez elkészítéséhez való eszköz.
Name[hu]=Deepin Rendszerindító Készítő
Comment[hy]=Livecd boot ստեղծող Deepin-ի համար
Name[hy]=Deepin Boot Ստեղծող
Comment[id]=Pembuat  CD But Langsung Deepin
Name[id]=Pembuat But Deepin
Comment[it]=Un software per creare un disco di Boot per Deepin OS
Name[it]=Deepin Boot Maker
Comment[ja]=Livecdブートメーカー
Name[ja]=ブートメーカー
Name[pam]=Deepin Boot Maker
Comment[ms]=CD Langsung Pembuat But untuk Deepin
Name[ms]=Pembina But Deepin
Comment[af_ZA]=LiveCD selflaai maker vir Deepin
Name[af_ZA]=Deepin Selflaai Skepper
Name[nb]=Deepin Boot Maker
Comment[nl]=LiveCD Opstartmedium Maker voor Deepin
Name[nl]=Deepin Opstartmedium-maker
Comment[es_419]=Creador de Arranque Deepin LiveCD
Name[es_419]=Creador de Arranque Deepin
Comment[pl]=Narzędzie do tworzenia płyty rozruchowej Deepin OS
Name[pl]=Twórca rozruchu Deepin
Comment[pt]=Criador de Livecd de arranque para Deepin
Name[pt]=Deepin Boot Maker
Comment[pt_BR]=Uma ferramenta para criar discos de inicialização para o Deepin OS
Name[pt_BR]=Deepin Boot Maker
Comment[ro]=Instrumentul pentru a face disc bootabil al  sistemului de operare Deepin
Name[ro]=Deepin Boot Maker
Comment[ru]=Создание загрузочного диска для Deepin ОС
Name[ru]=Deepin Boot Maker
Comment[sk]=LiveCD boot maker pre Deepin
Name[sk]=Deepin Boot Maker
Comment[sl]=LiveCD boot maker za Deepin
Name[sl]=Deepin Boot izdelovalec
Comment[tr]=Deepin için Livecd boot oluşturucu
Name[tr]=Deepin Boot Maker
Comment[uk]=Програма для створення придатних до завантаження дисків з операційною системою Deepin
Name[uk]=Створення дисків з Deepin
Name[vi]=Deepin Boot Maker
Comment[zh_CN]=深度系统启动盘的制作工具
Name[zh_CN]=深度启动盘制作工具
Comment[zh_TW]=Deepin 作業系統的開機隨身碟製作器
Name[zh_TW]=深度開機隨身碟製作器
Comment[es_AR]=Creador de discos booteables para Deepin
Name[es_AR]=Creador de Booteo Deepin
Comment[en_AU]=A tool to create boot disk for Deepin OS
Name[en_AU]=Deepin Boot Maker
Comment[es_ES]=Creador de Livecd de Deepin
Name[es_ES]=Creador de Arranque de Deepin
