#!/usr/bin/make -f

# 自动检测 Qt 版本，优先使用 Qt6
ifneq (,$(shell which qmake6 2>/dev/null))
    export QT_SELECT=qt6
    export QMAKE=qmake6
else
    export QT_SELECT=qt5
    export QMAKE=qmake
endif

include /usr/share/dpkg/default.mk

# 指定使用 qmake 构建系统
export DH_OPTIONS := --buildsystem=qmake

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	$(QMAKE) \
		VERSION=$(VERSION) \
		PREFIX=/usr \
		LIB_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
		VERSION_UPSTREAM=$(DEB_VERSION_UPSTREAM) \
		DEFINES+="VERSION=$(DEB_VERSION_UPSTREAM)"
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_test:
	# Skip running tests
	echo "Skipping tests"

override_dh_installsystemd:
	# Disable deepin-boot-maker.service auto-start

