[Unit]
Description=Deepin Boot Maker

[Service]
Type=dbus
BusName=com.deepin.bootmaker
ExecStart=/usr/lib/deepin-daemon/deepin-boot-maker-service
StandardOutput=journal
# Needs CAP_SYS_ADMIN umount u-disk.
CapabilityBoundingSet=~CAP_SYS_BPF CAP_NET_ADMIN
AmbientCapabilities=~CAP_SYS_BPF CAP_NET_ADMIN
User=root
MemoryMax=10G
IOWeight=200
ProtectSystem=full
ProtectHome=false
ProtectProc=default
PrivateTmp=false
PrivateDevices=false
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=false
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service readlink stat lstat
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/NetworkManager/system-connections/
InaccessiblePaths=-/etc/pam.d/
InaccessiblePaths=-/etc/security/
InaccessiblePaths=-/etc/selinux/
InaccessiblePaths=-/etc/deepin-elf-verify/
InaccessiblePaths=-/etc/filearmor.d/
InaccessiblePaths=-/etc/crypttab
InaccessiblePaths=-/etc/fstab
InaccessiblePaths=-/sysroot/ostree/repo/
InaccessiblePaths=-/persistent/ostree/repo/
InaccessiblePaths=-/usr/share/uadp
InaccessiblePaths=-/etc/sudoers
InaccessiblePaths=-/etc/sudoers.d
InaccessiblePaths=-/root
ReadWritePaths=/var/log/deepin
ReadWritePaths=/tmp /var/tmp /dev /run /media /mnt /home
ReadOnlyPaths=/usr /boot /proc
ExecPaths=/usr/bin /usr/sbin /bin /sbin /lib /usr/lib /proc /sys
NoExecPaths=/home /root
OOMScoreAdjust=-500
Nice=-5

[Install]
WantedBy=multi-user.target
